body {
    background-color: #f1f3f4;
    font-family: "Inter", sans-serif;
}

[data-theme="light"] {
    --bg: #f1f3f4;
    --text: #222;
    --card: #ffffff;
    --accent: #4b79a1;
}

[data-theme="dark"] {
    --bg: #0e1117;
    --text: #e1e1e1;
    --card: #161b22;
    --accent: #58a6ff;
}

.block-container {
    background-color: var(--bg);
    color: var(--text);
}

.card {
    background: var(--card);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgba(0,0,0,0.08);
}

.result-good {
    background: #d5f5d7;
    color: #146c2e;
    padding: 20px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

.result-bad {
    background: #fde2e2;
    color: #c1121f;
    padding: 20px;
    border-radius: 12px;
    font-weight: bold;
    text-align: center;
}

.predict-btn {
    display: inline-block;
    font-size: 18px;
    background: linear-gradient(90deg, #4b79a1, #283e51);
    padding: 12px 35px;
    border-radius: 30px;
    color: white !important;
    text-decoration: none;
    transition: 0.4s ease;
}

.predict-btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

.glass-card {
    background: rgba(255,255,255,0.5);
    padding: 25px;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.footer {
    text-align:center;
    margin-top:50px;
    font-size:13px;
    color:#666;
}
